<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy-Service B</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="title">
        {{!-- <p id=title> Dummy-Service B armed and ready! </p> --}}
        <h1>Dummy Service B Controlls</h1>
        <form action="/controlls" method="POST">
            <p>Request Success:</p>
            {{#if success}}
            <input type="checkbox" checked name="success">
            {{else}}
            <input type="checkbox" name="success">
            {{/if}}
            <p>Simulated Delay:</p>
            <input type="number" value="{{delay}}" name="delay">
            <br>
            <button>Update</button>
        </form>
    </div>
</body>

</html>